$prefix: lc;

$font-family: Hevletica, sans-serif;
$offblack: #333;

.#{$prefix}-style-alt {
  &.#{$prefix}-chart {
    background-color: $offblack;
    color: white;
    font-family: $font-family;
  }

  .#{$prefix}-chart-title {
    font-family: serif;
    margin: 0;
  }

  .#{$prefix}-chart-writers {
    font-size: 14px;
    font-style: italic;
    margin: 0 0 32px;
  }

  .#{$prefix}-chart-section {
    &:not(:last-child) {
      margin: 0 0 20px 0;
    }
  }

  .#{$prefix}-chart-section-title {
    font-size: 14px;
    font-style: italic;
    margin: 0 0 8px 0;
  }

  .#{$prefix}-line {
    margin: 0 0 4px 0;

    &:last-child {
      margin: 0;
    }
  }

  .#{$prefix}-chords {
    margin: 0 0 4px 0;
  }
}
