@import "variables";

.chart {
  border: 1px solid $offblack;
  color: black;
  font-family: Helvetica, sans-serif;
  padding: 96px;
  width: 816px;
  min-height: 1056px;
}

.chart-title {
  margin: 0;
}

.chart-writers {
  font-size: 14px;
  font-style: italic;
  margin: 0 0 24px;
}

.chart-section {
  &:not(:last-child) {
    margin: 0 0 32px 0;
  }
}

.chart-section-title {
  font-size: 14px;
  font-style: italic;
  margin: 0 0 8px 0;
}

.line {
  position: relative;
  margin: 0 0 4px 0;

  &:last-child {
    margin: 0;
  }
}

.anchor {
  display: inline-block;
}

.chords {
  height: 1em;
  margin: 0 0 4px 0;

  .chord {
    display: inline-block;
    position: absolute;
    font-weight: bold;
  }
}
